In [50]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# Definitions
pd.set_option('display.float_format', lambda x: '%.6f' % x)
%matplotlib inline
njobs = 4
randomState = 0

In [2]:
# Load preprocessed data
data = pd.read_csv("cleanData/data.csv")
y = pd.read_csv("cleanData/y.csv", header = None)
y = y[0]

X_train, X_test, y_train, y_test = train_test_split(data, y, test_size = 0.25, random_state = randomState)

In [3]:
# Logistic Regression
lr = LogisticRegression(random_state = randomState, 
                        C = 3,
                        n_jobs = njobs)
lr.fit(X_train, y_train)
y_pred_lr = lr.predict(X_test)
print(lr.score(X_test, y_test))

0.897737205011

In [5]:
# SVM
svm = SVC(random_state = randomState)
svm.fit(X_train, y_train)
y_pred_svm = svm.predict(X_test)
print(svm.score(X_test, y_test))

0.897348742352

In [6]:
# Random Forests
rf = RandomForestClassifier(random_state = randomState, 
                            n_estimators = 300, 
                            max_depth = 5,
                            n_jobs = njobs)
rf.fit(X_train, y_train)
y_pred_rf = rf.predict(X_test)
print(rf.score(X_test, y_test))

0.897542973682

In [7]:
# KNN
knn = KNeighborsClassifier(n_neighbors = 20,
                           n_jobs = njobs)
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)
print(knn.score(X_test, y_test))

0.896863164028

In [58]:
# Combine predictions
def computePreds(preds, cutoff) :
    preds[preds > cutoff] = 1
    preds[preds <= cutoff] = 0
    return(preds)

names = []
scores50 = []
scores75 = []
range = [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.8, 0.9, 1]
for a in range :
    for b in range : 
        for c in range :
            for d in range :
                if ((a + b + c + d) == 1) :
                    name = str(a) + "-" + str(b) + "-" + str(c) + "-" + str(d)
                    names.append(name)
                    preds = (a * y_pred_lr) + (b * y_pred_svm) + (c * y_pred_rf) + (d * y_pred_knn)
                    preds = computePreds(preds, 0.5)
                    score = accuracy_score(y_test, preds)
                    scores50.append(score)
                    preds = computePreds(preds, 0.75)
                    score = accuracy_score(y_test, preds)
                    scores75.append(score)

df = pd.DataFrame()
df.loc[:, "names"] = pd.Series(names)
df.loc[:, "scores50"] = pd.Series(scores50)
df.loc[:, "scores75"] = pd.Series(scores75)
print("Head : ")
display(df.sort_values("scores50", ascending = False).head(10))
display(df.sort_values("scores75", ascending = False).head(10))
print("Tail : ")
display(df.sort_values("scores50", ascending = False).tail(10))
display(df.sort_values("scores75", ascending = False).tail(10))

Head :

               names  scores50  scores75
4        0-0-0.5-0.5  0.898126  0.898126
30     0-0.4-0.1-0.5  0.898126  0.898126
25     0-0.3-0.2-0.5  0.898126  0.898126
12     0-0.1-0.4-0.5  0.898126  0.898126
19     0-0.2-0.3-0.5  0.898126  0.898126
55     0.1-0-0.4-0.5  0.898029  0.898029
110  0.2-0.2-0.1-0.5  0.898029  0.898029
104  0.2-0.1-0.2-0.5  0.898029  0.898029
134    0.3-0-0.2-0.5  0.898029  0.898029
139  0.3-0.1-0.1-0.5  0.898029  0.898029

               names  scores50  scores75
4        0-0-0.5-0.5  0.898126  0.898126
30     0-0.4-0.1-0.5  0.898126  0.898126
25     0-0.3-0.2-0.5  0.898126  0.898126
12     0-0.1-0.4-0.5  0.898126  0.898126
19     0-0.2-0.3-0.5  0.898126  0.898126
55     0.1-0-0.4-0.5  0.898029  0.898029
110  0.2-0.2-0.1-0.5  0.898029  0.898029
104  0.2-0.1-0.2-0.5  0.898029  0.898029
134    0.3-0-0.2-0.5  0.898029  0.898029
139  0.3-0.1-0.1-0.5  0.898029  0.898029

Tail :

               names  scores50  scores75
96       0.2-0-0-0.8  0.896863  0.896863
60     0.1-0.1-0-0.8  0.896863  0.896863
97     0.2-0-0.2-0.6  0.896863  0.896863
54     0.1-0-0.3-0.6  0.896863  0.896863
53     0.1-0-0.1-0.8  0.896863  0.896863
133    0.3-0-0.1-0.6  0.896863  0.896863
103  0.2-0.1-0.1-0.6  0.896863  0.896863
138    0.3-0.1-0-0.6  0.896863  0.896863
52       0.1-0-0-0.9  0.896863  0.896863
0            0-0-0-1  0.896863  0.896863

               names  scores50  scores75
96       0.2-0-0-0.8  0.896863  0.896863
60     0.1-0.1-0-0.8  0.896863  0.896863
97     0.2-0-0.2-0.6  0.896863  0.896863
54     0.1-0-0.3-0.6  0.896863  0.896863
53     0.1-0-0.1-0.8  0.896863  0.896863
133    0.3-0-0.1-0.6  0.896863  0.896863
103  0.2-0.1-0.1-0.6  0.896863  0.896863
138    0.3-0.1-0-0.6  0.896863  0.896863
52       0.1-0-0-0.9  0.896863  0.896863
0            0-0-0-1  0.896863  0.896863

In [59]:
print("Best ensemble is a 50-50 weighted combination of the Random Forests and KNN models, but difference best and worse \
combinations seems pretty negligible (about 0.015 accuracy)")

Best ensemble is a 50-50 weighted combination of the Random Forests and KNN models, but difference best and worse combinations seems pretty negligible (about 0.015 accuracy)